@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@0,100;1,100&family=Taviraj:wght@100&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-image: url(/images/Menubakgrund.jpg);
  background-size: cover;
}



.contact-session{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info{
  color: white; /* bytt färg men vi kan korrigera det sen för husmans bilden går inte ihop med css:en */
  max-width: 500px;
  line-height: 70px;
  padding-left: 50px;
  margin-right: 10vw;
  font-size: 22px;
  padding-bottom: 10vh;
  
}

.contact-info i{
  margin-right: 20px;
  font-size: 16px;
}

.contact-form{
  max-width: 700px;
  margin-right: 50px;
  padding-top: 3vh;
}

.contact-info, .contact-form{
  flex: 1;

}

.contact-form{
  display: flex;
  flex-direction: column-reverse;
  row-gap: 20px;

  color: white; /* bytt färg */
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contact-form .text-box{
  background: #fff;
  color: grey; /* Ändrade färgen den va vit inann*/
  border: none;
  width: calc(50% - 10px);
  height: 50px;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0,1);
  margin-bottom: 20px;
  opacity: 0.9;
  
}

.contact-form , .text-box:first-child{
  margin-right: 15px;
} 

.contact-form textarea{
  background: #fff;
  color: grey;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0,1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .send-btn{
  float: right;
  background: white; /* bytte färg */
  color: grey;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
}

.googlemaps-container {
  display: flex;
  justify-content: center;
  
}

.googlemaps-container img {
  height: 30%;
  width: 80%;
  border-radius: 10px;
  
}