* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}


/* Allting som rör navigationbaren*/
.navbar {
    width: 100%;
    height: 50px;
    max-width: 1200px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 2vh;
}

.navbar .links {
    display: flex;
    gap: 1.5rem;
    padding-top: 1.5vh;
    padding-left: 1vw;
    cursor: pointer;
}

/*Styling som rör länkarna i navigationbaren*/
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: brown;
    font-size: 1.5rem;
}
a:hover {
    color: grey;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    
}

/* HEADERN */
header {
    position: relative;
    padding: 0 2rem;
    font-size: 18px;
    color: brown;
    padding-top: 2vh;
}